:root{
  --hotpink: #f70776;
  --purple: #774ed7;
  --lightpurple: #d5def5;
  --calcColor: #36454F; 
}

@font-face {
  font-family: calculator;
  src: url(./Calculator.ttf);
}

*{
  margin: 0px;
  padding: 0px;
}
html{
  height: 100%;
}

body{
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc{
  border: 5px solid var(--calcColor);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding: 5px;
  max-width: 446px;
}

.calc-screen{
  display: flex;
  width: 100%;
  height: 120px;
  background-color: #b2b9b7;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.calc-screen #display{
  padding: 5px 16px;
  font-size: 6em;
  font-family: calculator;
  font-weight: bold;
}

.calc-buttons{
  display: grid;
  grid-template-columns: repeat(4, 110px);
  grid-template-rows: repeat(5, 90px);
  margin-top: 5px;
  gap: 2px;
}

button{
  border: 2px solid rgb(45, 44, 44);
  border-radius: 8px;
  font-family: monospace;
  font-size: 2em;
}

button:hover{
  opacity: .9;
}

button:active {
  opacity: .7;
}

.function{
  background-color: var(--hotpink);
}

.top-row{
  background-color: var(--purple);
}

.number{
  background-color: var(--lightpurple);
}

#zero{
  grid-column: span 2;
}

#remainder{
  background-color: var(--purple);
}

#period{
  background-color: var(--lightpurple);
}

#equals{
  background-color: var(--hotpink);
}

